<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009391877812-adt12hv2q3blfa8mdvtikehfh21dbdi6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009391877812-adt12hv2q3blfa8mdvtikehfh21dbdi6</string>
	<key>API_KEY</key>
	<string>AIzaSyAzkEjmo0HgbP8LcBZ8Ozm58ZPro86G5Us</string>
	<key>GCM_SENDER_ID</key>
	<string>1009391877812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hamza.RunTracker</string>
	<key>PROJECT_ID</key>
	<string>runtracker-b24dc</string>
	<key>STORAGE_BUCKET</key>
	<string>runtracker-b24dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009391877812:ios:48a1f2f2177ecae6b9e1e1</string>
	<key>DATABASE_URL</key>
	<string>https://runtracker-b24dc.firebaseio.com</string>
</dict>
</plist>